<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Template Main CSS File -->

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header">
        <div class="container">

            <h1><a href="/inicio">Empresas</a></h1>
            <h2><span>Trabajo control de empresas 2022</span></h2>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link active" href="/inicio">Inicio</a></li>
                    <li><a class="nav-link" href="/login">Iniciar sesión</a></li>
                    <li><a class="nav-link" href="/registro">Registrarse</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>

    </header><!-- End Header -->

</body>


</html>
