#btn {
  position: absolute;
  margin-top: 30px;
  margin-left: -20px;
  background-color:  #f4d03f;
  color: black;
}

body {
  background: #43C6AC;
  background: -webkit-linear-gradient(to right, #191654, #43C6AC);
  background: linear-gradient(to right, #191654, #43C6AC);
  height: 100vh;
}

#ola {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  }

#ap {
  margin-top: 50px;
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
 }

 #ap:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
 }

 #ap:active {
  transform: translateY(-1px);
 }



  /* boton eliminar */
#btnDelete {
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: red;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  background: #e62222;
 }

 #btnDelete, #btnDelete span {
  transition: 200ms;
 }

 #btnDelete .text {
  transform: translateX(35px);
  color: white;
  font-weight: bold;
 }

 #btnDelete .icon {
  position: absolute;
  border-left: 1px solid #c41b1b;
  transform: translateX(110px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 #btnDelete svg {
  width: 15px;
  fill: #eee;
 }

 #btnDelete:hover {
  background: #ff3636;
 }

 #btnDelete:hover .text {
  color: transparent;
 }

 #btnDelete:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
 }

 #btnDelete:focus {
  outline: none;
 }

 #btnDelete:active .icon svg {
  transform: scale(0.8);
 }

  /* boton Editar */
#btnEdit {
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #F1C40F ;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  background: #F4D03F;
 }
 #btnEdit .icon svg {
  width: 10em;
  transition: transform 0.3s;
  color: white;
 }

 #btnEdit, #btnEdit span {
  transition: 200ms;
 }

 #btnEdit .text {
  transform: translateX(35px);
  color: white;
  font-weight: bold;
 }

 #btnEdit .icon {
  position: absolute;
  border-left: 1px solid #F1C40F;
  transform: translateX(110px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 #btnEdit svg {
  width: 15px;
  fill: #eee;
 }

 #btnEdit:hover {
  background: #F4D03F;
 }

 #btnEdit:hover .text {
  color: transparent;
 }

 #btnEdit:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
 }

 #btnEdit:focus {
  outline: none;
 }

 #btnEdit:active .icon svg {
  transform: scale(0.8);
 }

  /* boton View */
#btnView {
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #17a589;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  background:  #1abc9c;
 }
 #btnView .icon svg {
  width: 10em;
  transition: transform 0.3s;
  color: white;
 }

 #btnView, #btnView span {
  transition: 200ms;
 }

 #btnView .text {
  transform: translateX(1px);
  color: white;
  font-weight: bold;
 }

 #btnView .icon {
  position: absolute;
  border-left: 1px solid #17a589;
  transform: translateX(110px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 #btnView svg {
  width: 15px;
  fill: #eee;
 }

 #btnView:hover {
  background: #17a589;
 }

 #btnView:hover .text {
  color: transparent;
 }

 #btnView:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
 }

 #btnView:focus {
  outline: none;
 }

 #btnView:active .icon svg {
  transform: scale(0.8);
 }

 #eye {
  color: white;
}

#edit {
  color: white;
}

